[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
twine = "*"

[dev-packages]
gitpython = "*"
pipenv = "*"
black = "==18.6b4"
mypy = "*"
"flake8" = "*"
bandit = "*"
pylint = "*"
pydocstyle = "*"
prospector = "*"
pylama = "*"
pytest = "*"
sphinx = "*"
"pep8" = "*"
twine = "*"

[requires]
